.lampSVG {
  width: 30px;
  height: 30px;
  max-width: 100%;
  max-height: 100%;
  margin-top: 0.1rem;
}
.lampSVG:hover {
  animation: jiggle 0.5s infinite;
}
.lampSVG:hover svg {
  /* hover effect */
  fill: var(--accent-gold);
  animation: candleFlicker 0.5s infinite;
}

.darkMode {
  background-color: transparent;
  color: #f5f5f5;
}

.darkMode a {
  color: #90caf9;
}

.darkMode code:not([class*='language-']) {
  background-color: #333;
  color: #f5f5f5;
}

@keyframes candleFlicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes jiggle {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
