.root ul {
  padding: 0;
}
.active {
  color: var(--accent-gold);
  border-left: 2px solid var(--accent-gold);
}

:global(.dark) .active {
  color: var(--accent-gold);
  border-left: 2px solid var(--accent-gold);
}

.icon {
  width: 30px;
  height: 100%;
}
.icon:hover {
  color: var(--accent-gold);
}

:global(.dark) .icon:hover {
  color: var(--accent-gold);
}
